:root {
  --neutral: rgba(255, 255, 255, 1);
  --dark: rgba(3, 3, 3, 1);
  --bg-darkmode-30: rgba(22, 21, 26, 1);
  --bg-darkmode: rgba(65, 64, 79, 1);
  --bg-light: rgba(233, 233, 237, 1);
  --bg-lighter: rgba(248, 248, 248, 1);
  --text: rgba(41, 38, 76, 1);
  --text-light: rgba(132, 129, 151, 1);
  --text-lighter: rgba(237, 236, 246, 1);
  --primary: rgba(72, 68, 163, 1);
  --primary-ight: rgba(154, 154, 240, 1);
  --primary-lighter: rgba(225, 225, 251, 1);
  --primary-bg: rgba(243, 243, 253, 1);
  --accent: rgba(255, 85, 110, 1);
  --accent-light: rgba(255, 194, 194, 1);
  --desktop-h1-font-family: "Plus Jakarta Sans", Helvetica;
  --desktop-h1-font-weight: 600;
  --desktop-h1-font-size: 60px;
  --desktop-h1-letter-spacing: -1.2px;
  --desktop-h1-line-height: 72px;
  --desktop-h1-font-style: normal;
  --desktop-h2-font-family: "Plus Jakarta Sans", Helvetica;
  --desktop-h2-font-weight: 600;
  --desktop-h2-font-size: 48px;
  --desktop-h2-letter-spacing: -0.96px;
  --desktop-h2-line-height: 60px;
  --desktop-h2-font-style: normal;
  --desktop-h3-font-family: "Plus Jakarta Sans", Helvetica;
  --desktop-h3-font-weight: 500;
  --desktop-h3-font-size: 36px;
  --desktop-h3-letter-spacing: -0.72px;
  --desktop-h3-line-height: 44px;
  --desktop-h3-font-style: normal;
  --desktop-h4-font-family: "Plus Jakarta Sans", Helvetica;
  --desktop-h4-font-weight: 700;
  --desktop-h4-font-size: 30px;
  --desktop-h4-letter-spacing: 0px;
  --desktop-h4-line-height: 38px;
  --desktop-h4-font-style: normal;
  --desktop-h5-font-family: "Plus Jakarta Sans", Helvetica;
  --desktop-h5-font-weight: 600;
  --desktop-h5-font-size: 24px;
  --desktop-h5-letter-spacing: 0px;
  --desktop-h5-line-height: 32px;
  --desktop-h5-font-style: normal;
  --desktop-h6-font-family: "Plus Jakarta Sans", Helvetica;
  --desktop-h6-font-weight: 600;
  --desktop-h6-font-size: 20px;
  --desktop-h6-letter-spacing: 0px;
  --desktop-h6-line-height: 30px;
  --desktop-h6-font-style: normal;
  --desktop-subtitle1-font-family: "Plus Jakarta Sans", Helvetica;
  --desktop-subtitle1-font-weight: 400;
  --desktop-subtitle1-font-size: 18px;
  --desktop-subtitle1-letter-spacing: 0px;
  --desktop-subtitle1-line-height: 28px;
  --desktop-subtitle1-font-style: normal;
  --desktop-subtitle1-strong-font-family: "Plus Jakarta Sans", Helvetica;
  --desktop-subtitle1-strong-font-weight: 600;
  --desktop-subtitle1-strong-font-size: 18px;
  --desktop-subtitle1-strong-letter-spacing: 0px;
  --desktop-subtitle1-strong-line-height: 28px;
  --desktop-subtitle1-strong-font-style: normal;
  --desktop-subtitle2-font-family: "Plus Jakarta Sans", Helvetica;
  --desktop-subtitle2-font-weight: 400;
  --desktop-subtitle2-font-size: 16px;
  --desktop-subtitle2-letter-spacing: 0px;
  --desktop-subtitle2-line-height: 24px;
  --desktop-subtitle2-font-style: normal;
  --desktop-subtitle2-strong-font-family: "Plus Jakarta Sans", Helvetica;
  --desktop-subtitle2-strong-font-weight: 600;
  --desktop-subtitle2-strong-font-size: 16px;
  --desktop-subtitle2-strong-letter-spacing: 0px;
  --desktop-subtitle2-strong-line-height: 24px;
  --desktop-subtitle2-strong-font-style: normal;
  --desktop-body-font-family: "Plus Jakarta Sans", Helvetica;
  --desktop-body-font-weight: 400;
  --desktop-body-font-size: 14px;
  --desktop-body-letter-spacing: 0px;
  --desktop-body-line-height: 20px;
  --desktop-body-font-style: normal;
  --desktop-body-strong-font-family: "Plus Jakarta Sans", Helvetica;
  --desktop-body-strong-font-weight: 600;
  --desktop-body-strong-font-size: 14px;
  --desktop-body-strong-letter-spacing: 0px;
  --desktop-body-strong-line-height: 20px;
  --desktop-body-strong-font-style: normal;
  --desktop-label-font-family: "Plus Jakarta Sans", Helvetica;
  --desktop-label-font-weight: 500;
  --desktop-label-font-size: 14px;
  --desktop-label-letter-spacing: 0px;
  --desktop-label-line-height: 20px;
  --desktop-label-font-style: normal;
  --desktop-caption-font-family: "Plus Jakarta Sans", Helvetica;
  --desktop-caption-font-weight: 500;
  --desktop-caption-font-size: 12px;
  --desktop-caption-letter-spacing: 0px;
  --desktop-caption-line-height: 18px;
  --desktop-caption-font-style: normal;
  --desktop-caption-strong-font-family: "Plus Jakarta Sans", Helvetica;
  --desktop-caption-strong-font-weight: 600;
  --desktop-caption-strong-font-size: 12px;
  --desktop-caption-strong-letter-spacing: 0px;
  --desktop-caption-strong-line-height: 18px;
  --desktop-caption-strong-font-style: normal;
  --mobile-h1-font-family: "Plus Jakarta Sans", Helvetica;
  --mobile-h1-font-weight: 600;
  --mobile-h1-font-size: 36px;
  --mobile-h1-letter-spacing: -0.72px;
  --mobile-h1-line-height: 44px;
  --mobile-h1-font-style: normal;
  --mobile-h2-font-family: "Plus Jakarta Sans", Helvetica;
  --mobile-h2-font-weight: 600;
  --mobile-h2-font-size: 30px;
  --mobile-h2-letter-spacing: -0.45px;
  --mobile-h2-line-height: 38px;
  --mobile-h2-font-style: normal;
  --mobile-h3-font-family: "Plus Jakarta Sans", Helvetica;
  --mobile-h3-font-weight: 500;
  --mobile-h3-font-size: 24px;
  --mobile-h3-letter-spacing: -0.36px;
  --mobile-h3-line-height: 32px;
  --mobile-h3-font-style: normal;
  --mobile-h4-font-family: "Plus Jakarta Sans", Helvetica;
  --mobile-h4-font-weight: 600;
  --mobile-h4-font-size: 22px;
  --mobile-h4-letter-spacing: -0.22px;
  --mobile-h4-line-height: 30px;
  --mobile-h4-font-style: normal;
  --mobile-h5-font-family: "Plus Jakarta Sans", Helvetica;
  --mobile-h5-font-weight: 600;
  --mobile-h5-font-size: 18px;
  --mobile-h5-letter-spacing: 0px;
  --mobile-h5-line-height: 26px;
  --mobile-h5-font-style: normal;
  --mobile-h6-font-family: "Plus Jakarta Sans", Helvetica;
  --mobile-h6-font-weight: 600;
  --mobile-h6-font-size: 16px;
  --mobile-h6-letter-spacing: 0px;
  --mobile-h6-line-height: 24px;
  --mobile-h6-font-style: normal;
  --mobile-subtitle1-font-family: "Plus Jakarta Sans", Helvetica;
  --mobile-subtitle1-font-weight: 400;
  --mobile-subtitle1-font-size: 16px;
  --mobile-subtitle1-letter-spacing: 0px;
  --mobile-subtitle1-line-height: 24px;
  --mobile-subtitle1-font-style: normal;
  --mobile-subtitle1-strong-font-family: "Plus Jakarta Sans", Helvetica;
  --mobile-subtitle1-strong-font-weight: 600;
  --mobile-subtitle1-strong-font-size: 16px;
  --mobile-subtitle1-strong-letter-spacing: 0px;
  --mobile-subtitle1-strong-line-height: 24px;
  --mobile-subtitle1-strong-font-style: normal;
  --mobile-subtitle2-font-family: "Plus Jakarta Sans", Helvetica;
  --mobile-subtitle2-font-weight: 400;
  --mobile-subtitle2-font-size: 14px;
  --mobile-subtitle2-letter-spacing: 0px;
  --mobile-subtitle2-line-height: 20px;
  --mobile-subtitle2-font-style: normal;
  --mobile-subtitle2-strong-font-family: "Plus Jakarta Sans", Helvetica;
  --mobile-subtitle2-strong-font-weight: 600;
  --mobile-subtitle2-strong-font-size: 14px;
  --mobile-subtitle2-strong-letter-spacing: 0px;
  --mobile-subtitle2-strong-line-height: 20px;
  --mobile-subtitle2-strong-font-style: normal;
  --mobile-body-font-family: "Plus Jakarta Sans", Helvetica;
  --mobile-body-font-weight: 400;
  --mobile-body-font-size: 14px;
  --mobile-body-letter-spacing: 0px;
  --mobile-body-line-height: 20px;
  --mobile-body-font-style: normal;
  --mobile-body-strong-font-family: "Plus Jakarta Sans", Helvetica;
  --mobile-body-strong-font-weight: 600;
  --mobile-body-strong-font-size: 14px;
  --mobile-body-strong-letter-spacing: 0px;
  --mobile-body-strong-line-height: 20px;
  --mobile-body-strong-font-style: normal;
  --mobile-label-font-family: "Plus Jakarta Sans", Helvetica;
  --mobile-label-font-weight: 500;
  --mobile-label-font-size: 12px;
  --mobile-label-letter-spacing: 0px;
  --mobile-label-line-height: 16px;
  --mobile-label-font-style: normal;
  --mobile-caption-font-family: "Plus Jakarta Sans", Helvetica;
  --mobile-caption-font-weight: 500;
  --mobile-caption-font-size: 12px;
  --mobile-caption-letter-spacing: 0px;
  --mobile-caption-line-height: 18px;
  --mobile-caption-font-style: normal;
  --mobile-caption-strong-font-family: "Plus Jakarta Sans", Helvetica;
  --mobile-caption-strong-font-weight: 600;
  --mobile-caption-strong-font-size: 12px;
  --mobile-caption-strong-letter-spacing: 0px;
  --mobile-caption-strong-line-height: 18px;
  --mobile-caption-strong-font-style: normal;
}
